.circle-slider .slick-track {
  display: flex;
  align-items: center;
  text-align: center;
}

.circle-slider .slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  height: 12.5rem;
}

.circle-slider .slick-slide img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
